<div class="searchBar">
  <form action="search" class="search-form" role="search" method="POST">
    <input
      type="search"
      aria-label="search"
      id="searchInput"
      name="searchTerm"
      placeholder="Search the site..."
    />
    <div id="searchClose">Close</div>
  </form>
</div>
